#app {
    display:flex;
    /* align-items: center; */
    align-items: center;
    flex-direction: column;
    
}

#app button{
    background-color: #aaa;
    margin-top: 1em;
    height: 3em;
    font-size: 1.5em;
    
    border-radius: .4em;
    border: none;
}
#app button:hover{
    background-color: #ddd;
 
}

#app input{
    margin-top: 1em;
    height: 3em;
    font-size: 1em;
    margin-bottom: 2em;
}
